.user-msg {
  position: fixed;
  top: 70px;
  right: 0;

  display: flex;
  align-items: center;
  gap: 10px;

  padding: 0.2em;
  padding-inline-end: 1.5em;
  background-color: var(--gray3);
  color: var(--white);
  font-size: 1em;

  opacity: 0;
  translate: 150%;
  transition: 600ms;
  z-index: 100;
  border-radius: 1em;

  &.visible {
    opacity: 1;
    translate: 0;
  }

  &.success {
    background-color: var(--success);
  }

  &.error {
    background-color: var(--error);
  }

  & button {
    padding: 10px 5px;
    display: flex;
    color: var(--white);
    margin: 2px 0 0 0;
  }
}
