.deal-index {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: subgrid;
  && > *:not(.deal-filter) {
    grid-column: 2;
  }
  .deal-filter {
    grid-column: 1/-1;
  }
  .deals-seperator {
    margin-top: 25px;
    border: none;
    border-bottom: 1px solid var(--gray6);
  }
  .no-deals {
    text-align: center;
  }

  .pagination {
    color: var(--blue2);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
    background-color: var(--pagination-bg);
    border-radius: 10px;
   
    button,span {
      color: var(--blue2);
      padding: 10px 20px;
    }
  }
}
