.header {

  position: sticky;
  top: 0px;
  text-align: center;
  padding: 20px;
  background-color: var(--bg1);
  .logo {
      color: var(--clr2);
  }
  .pagination {
    color: var(--blue2);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-radius: 10px;
   
    button,span {
      color: var(--blue2);
      padding: 10px 20px;
    }
  }
}
